Repository Notekunn/firewall-gitops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

Path conditions:
  validate_yaml: any of: clusters/**/*.yaml, clusters/**/*.yml, schemas/*.json, scripts/validate_yaml.py
  terraform_fmt: any of: terraform/**/*.tf, modules/**/*.tf
  terraform_validate: any of: terraform/**/*.tf, modules/**/*.tf, clusters/**/*.yaml, clusters/**/*.yml
  security_scan: any of: terraform/**/*.tf, modules/**/*.tf
  plan_example: any of: clusters/example/**/*.yaml, clusters/example/**/*.yml, terraform/**/*.tf, modules/**/*.tf
  plan_production: any of: clusters/production/**/*.yaml, clusters/production/**/*.yml, terraform/**/*.tf, modules/**/*.tf
  plan_development: any of: clusters/development/**/*.yaml, clusters/development/**/*.yml, terraform/**/*.tf, modules/**/*.tf

feat: enhance GitLab CI configuration and add README documentation
  .gitlab-ci.yml
  README.md
  scripts/deploy.sh
  terraform/main.tf
Due: terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

chore: update Terraform version to 1.13.0 and enhance cluster selection in GitLab CI configuration
  .gitlab-ci.yml
Due: none

fix: update 'location' variable type in Terraform to remove optional wrapper
  modules/palo-alto/variables.tf
Due: terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

fix: script init
  scripts/deploy.sh
Due: none

fix: update cluster configuration and improve script compatibility
  clusters/example/cluster.yaml
  modules/palo-alto/main.tf
  schemas/rules.schema.json
  scripts/deploy.sh
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

fix: readme
  README.md
Due: none

feat: add MIT
  LICENSE
Due: none

fix: enhance Terraform format and validation checks for example, development, and production clusters
  .gitlab-ci.yml
Due: none

feat: implement auto-commit functionality for PAN-OS configuration with customizable commit options
  clusters/example/cluster.yaml
  modules/palo-alto/main.tf
  modules/palo-alto/scripts/commit.sh
  modules/palo-alto/variables.tf
  schemas/cluster.schema.json
  terraform/main.tf
  terraform/variables.tf
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

fix: update commit script to enhance clarity and use latest PAN-OS API syntax for partial commits
  modules/palo-alto/scripts/commit.sh
Due: none

feat: add repository guidelines and a PAN-OS commit script for improved automation and clarity
  AGENTS.md
  modules/palo-alto/main.tf
  modules/palo-alto/scripts/commit.sh
  scripts/commit.sh
Due: terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat: add repository guidelines and a PAN-OS commit script for improved automation and clarity
  scripts/commit.sh
Due: none

feat: restructure firewall configuration files for improved organization and clarity; add support for multiple object files
  README.md
  clusters/example/cluster.yaml
  clusters/example/objects/addresses.yaml
  clusters/example/objects/dmz-zone.yaml
  clusters/example/objects/services.yaml
  clusters/example/objects/trust-zone.yaml
  clusters/example/rules.yaml
  modules/palo-alto/main.tf
  schemas/cluster.schema.json
  schemas/rules.schema.json
  scripts/validate_yaml.py
  terraform/main.tf
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

refactor: update firewall rules variable type to list of objects and remove auto-commit variables from main.tf
  modules/palo-alto/variables.tf
  terraform/main.tf
Due: terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat: implement Fortinet and Palo Alto modules with enhanced variable structures and logging settings
  modules/fortinet/main.tf
  modules/fortinet/variable.tf
  modules/palo-alto/main.tf
  schemas/cluster.schema.json
  terraform/main.tf
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat: add CLAUDE.md for comprehensive project guidance and architecture overview
  AGENTS.md
  CLAUDE.md
Due: none

feat: add Check Point firewall support with comprehensive configuration and documentation
  CHECKPOINT_IMPLEMENTATION.md
  CLAUDE.md
  README.md
  clusters/checkpoint-example/cluster.yaml
  clusters/checkpoint-example/objects/addresses.yaml
  clusters/checkpoint-example/objects/rules.yaml
  clusters/checkpoint-example/objects/services.yaml
  modules/checkpoint/main.tf
  modules/checkpoint/variables.tf
  terraform/main.tf
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat: add F5 WAF support with configuration, IP lists, and schema updates
  clusters/f5-example/cluster.yaml
  clusters/f5-example/objects.yaml
  modules/f5-waf/main.tf
  modules/f5-waf/variables.tf
  schemas/cluster.schema.json
  schemas/rules.schema.json
  terraform/main.tf
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

docs: add comprehensive initial documentation
  CHECKPOINT_IMPLEMENTATION.md
  README.md
  docs/code-standards.md
  docs/codebase-summary.md
  docs/project-overview-pdr.md
  docs/system-architecture.md
Due: none

feat: Phase 1 - Add log forwarding profiles schema and variables
  docs/codebase-summary.md
  docs/index.md
  docs/schema-updates/20251127-log-forwarding-profiles.md
  modules/palo-alto/variables.tf
  plans/20251127-0838-palo-alto-log-schedule/README.md
  plans/20251127-0838-palo-alto-log-schedule/RESEARCH-SUMMARY.md
  plans/20251127-0838-palo-alto-log-schedule/phase2-next-steps.md
  plans/20251127-0838-palo-alto-log-schedule/plan.md
  plans/20251127-0838-palo-alto-log-schedule/reports/20251127-phase1-completion-report.md
  plans/20251127-0838-palo-alto-log-schedule/research/researcher-01-provider-resources.md
  plans/log-forwarding-phase1-testing/reports/20251127-from-qa-engineer-to-developer-log-forwarding-phase1-testing-report.md
  schemas/cluster.schema.json
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat: add log forwarding profiles and related objects for PAN-OS configuration
  clusters/log-profile-test/cluster.yaml
  clusters/log-profile-test/objects.yaml
  clusters/no-profile-test/cluster.yaml
  clusters/no-profile-test/objects.yaml
  plans/20251127-0838-palo-alto-log-schedule/README.md
  plans/20251127-0838-palo-alto-log-schedule/RESEARCH-SUMMARY.md
  plans/20251127-0838-palo-alto-log-schedule/phase2-next-steps.md
  plans/20251127-0838-palo-alto-log-schedule/plan.md
  plans/20251127-0838-palo-alto-log-schedule/reports/20251127-phase1-completion-report.md
  plans/20251127-0838-palo-alto-log-schedule/research/researcher-01-provider-resources.md
  plans/log-forwarding-phase1-testing/reports/20251127-from-qa-engineer-to-developer-log-forwarding-phase1-testing-report.md
  terraform/main.tf
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat: Phase 01 - SOAR webhook service project setup & config
  README.md
  docs/code-standards.md
  docs/system-architecture.md
  scripts/soar-webhook/.dockerignore
  scripts/soar-webhook/.gitignore
  scripts/soar-webhook/Dockerfile
  scripts/soar-webhook/Makefile
  scripts/soar-webhook/PHASE01-TEST-REPORT.md
  scripts/soar-webhook/README.md
  scripts/soar-webhook/cmd/server/main.go
  scripts/soar-webhook/cmd/server/main_test.go
  scripts/soar-webhook/code-reviewer-251205-soar-webhook-phase01.md
  scripts/soar-webhook/go.mod
  scripts/soar-webhook/go.sum
  scripts/soar-webhook/internal/config/config.go
  scripts/soar-webhook/internal/config/config_test.go
  scripts/soar-webhook/test-report.md
Due: none

feat: enhance IP list management with validation and auto-generated resources
  modules/checkpoint/main.tf
  modules/checkpoint/variables.tf
  schemas/rules.schema.json
  terraform/main.tf
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

fix: deploy
  modules/checkpoint/main.tf
  modules/checkpoint/variables.tf
Due: terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat: remove soar-webhook
  scripts/soar-webhook/.dockerignore
  scripts/soar-webhook/.gitignore
  scripts/soar-webhook/Dockerfile
  scripts/soar-webhook/Makefile
  scripts/soar-webhook/PHASE01-TEST-REPORT.md
  scripts/soar-webhook/README.md
  scripts/soar-webhook/cmd/server/main.go
  scripts/soar-webhook/cmd/server/main_test.go
  scripts/soar-webhook/code-reviewer-251205-soar-webhook-phase01.md
  scripts/soar-webhook/go.mod
  scripts/soar-webhook/go.sum
  scripts/soar-webhook/internal/config/config.go
  scripts/soar-webhook/internal/config/config_test.go
  scripts/soar-webhook/test-report.md
Due: none

feat: Phase 01 - SOAR webhook service project setup
  .claude/active-plan
  CLAUDE.md
  body.txt
  docs/codebase-summary.md
  docs/phase-01-soar-webhook-summary.md
  docs/project-overview-pdr.md
  docs/project-roadmap.md
  plans/20251209-0950-soar-webhook-service/phase-01-project-setup.md
  plans/20251209-0950-soar-webhook-service/phase-02-gitlab-integration.md
  plans/20251209-0950-soar-webhook-service/phase-03-yaml-processor.md
  plans/20251209-0950-soar-webhook-service/phase-04-webhook-handler.md
  plans/20251209-0950-soar-webhook-service/phase-05-testing-deployment.md
  plans/20251209-0950-soar-webhook-service/plan.md
  plans/20251209-0950-soar-webhook-service/reports/project-manager-250109-phase01-complete.md
  plans/20251209-0950-soar-webhook-service/unresolved-questions.md
  scripts/webhook-soar/README.md
  scripts/webhook-soar/cmd/webhook/main.go
  scripts/webhook-soar/go.mod
  scripts/webhook-soar/internal/config/config.go
  scripts/webhook-soar/internal/config/config_test.go
Due: none

feat: Phases 02-03 - GitLab integration and YAML processing
  docs/phase-03-soar-webhook-summary.md
  docs/project-roadmap.md
  plans/20251209-0950-soar-webhook-service/phase-02-gitlab-integration.md
  plans/20251209-0950-soar-webhook-service/phase-03-yaml-processor.md
  plans/20251209-0950-soar-webhook-service/plan.md
  plans/reports/code-reviewer-251209-yaml-processor-review.md
  scripts/webhook-soar/README.md
  scripts/webhook-soar/cmd/webhook/main.go
  scripts/webhook-soar/go.mod
  scripts/webhook-soar/go.sum
  scripts/webhook-soar/internal/repository/gitlab.go
  scripts/webhook-soar/internal/repository/gitlab_test.go
  scripts/webhook-soar/internal/service/yaml_processor.go
  scripts/webhook-soar/internal/service/yaml_processor_test.go
  scripts/webhook-soar/reports/code-reviewer-251209-phase02-implementation.md
Due: none

feat: Phase 04 - HTTP Webhook Handler implementation
  scripts/webhook-soar/cmd/webhook/main.go
  scripts/webhook-soar/go.mod
  scripts/webhook-soar/go.sum
  scripts/webhook-soar/internal/handler/webhook.go
  scripts/webhook-soar/internal/handler/webhook_test.go
  scripts/webhook-soar/internal/service/processor.go
  scripts/webhook-soar/internal/service/processor_test.go
Due: none

feat: Phase 05 - Testing and Deployment setup
  scripts/webhook-soar/.dockerignore
  scripts/webhook-soar/Dockerfile
  scripts/webhook-soar/docs/DEPLOYMENT.md
  scripts/webhook-soar/helm/soar-webhook/Chart.yaml
  scripts/webhook-soar/helm/soar-webhook/templates/_helpers.tpl
  scripts/webhook-soar/helm/soar-webhook/templates/deployment.yaml
  scripts/webhook-soar/helm/soar-webhook/templates/secret.yaml
  scripts/webhook-soar/helm/soar-webhook/templates/service.yaml
  scripts/webhook-soar/helm/soar-webhook/values.yaml
  scripts/webhook-soar/tests/integration/webhook_test.go
Due: none

docs: add docs
  scripts/webhook-soar/README.md
  scripts/webhook-soar/docs/code-standards.md
  scripts/webhook-soar/docs/codebase-summary.md
  scripts/webhook-soar/docs/project-overview-pdr.md
  scripts/webhook-soar/docs/system-architecture.md
Due: none

feat: enhance webhook handler to manage large request bodies and update git command options
  scripts/webhook-soar/internal/handler/webhook.go
  scripts/webhook-soar/internal/handler/webhook_test.go
  scripts/webhook-soar/internal/repository/gitlab.go
  scripts/webhook-soar/internal/service/processor_test.go
Due: none

feat: add support for API key authentication and TLS verification in webhook handler
  scripts/webhook-soar/README.md
  scripts/webhook-soar/cmd/webhook/main.go
  scripts/webhook-soar/internal/config/config.go
  scripts/webhook-soar/internal/config/config_test.go
  scripts/webhook-soar/internal/handler/webhook.go
  scripts/webhook-soar/internal/handler/webhook_test.go
  scripts/webhook-soar/internal/repository/gitlab.go
Due: none

fix: user
  scripts/webhook-soar/cmd/webhook/main.go
  scripts/webhook-soar/docs/DEPLOYMENT.md
  scripts/webhook-soar/helm/soar-webhook/Chart.yaml
  scripts/webhook-soar/helm/soar-webhook/templates/_helpers.tpl
  scripts/webhook-soar/helm/soar-webhook/templates/deployment.yaml
  scripts/webhook-soar/helm/soar-webhook/templates/secret.yaml
  scripts/webhook-soar/helm/soar-webhook/templates/service.yaml
  scripts/webhook-soar/helm/soar-webhook/values.yaml
  scripts/webhook-soar/internal/config/config.go
  scripts/webhook-soar/internal/repository/gitlab.go
  scripts/webhook-soar/internal/repository/gitlab_test.go
  scripts/webhook-soar/reports/code-reviewer-251209-phase02-implementation.md
  scripts/webhook-soar/tests/integration/webhook_test.go
Due: none

Refactor SOAR Webhook Service: Remove phase documentation and reports
  plans/20251209-0950-soar-webhook-service/phase-01-project-setup.md
  plans/20251209-0950-soar-webhook-service/phase-02-gitlab-integration.md
  plans/20251209-0950-soar-webhook-service/phase-03-yaml-processor.md
  plans/20251209-0950-soar-webhook-service/phase-04-webhook-handler.md
  plans/20251209-0950-soar-webhook-service/phase-05-testing-deployment.md
  plans/20251209-0950-soar-webhook-service/plan.md
  plans/20251209-0950-soar-webhook-service/reports/project-manager-250109-phase01-complete.md
  plans/20251209-0950-soar-webhook-service/unresolved-questions.md
  scripts/webhook-soar/internal/service/processor.go
  scripts/webhook-soar/internal/service/yaml_processor.go
  scripts/webhook-soar/internal/service/yaml_processor_test.go
  scripts/webhook-soar/tests/integration/webhook_test.go
Due: none

refactor: clean up global variable settings and improve comments in CheckPoint and Palo Alto modules
  modules/checkpoint/main.tf
  modules/checkpoint/variables.tf
  modules/f5-waf/main.tf
  modules/palo-alto/main.tf
  modules/palo-alto/variables.tf
  plans/reports/code-reviewer-251209-yaml-processor-review.md
  schemas/cluster.schema.json
  schemas/rules.schema.json
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat(palo-alto): add panos 2.0.10 schedule support + wire rule schedule/log_setting
  clusters/log-profile-test/cluster.yaml
  clusters/schedule-logfwd-test/cluster.yaml
  clusters/schedule-logfwd-test/objects.yaml
  docs/codebase-summary.md
  docs/index.md
  docs/phase-01-soar-webhook-summary.md
  docs/phase-03-soar-webhook-summary.md
  docs/project-roadmap.md
  docs/schema-updates/20251127-log-forwarding-profiles.md
  docs/system-architecture.md
  modules/palo-alto/main.tf
  modules/palo-alto/variables.tf
  schemas/cluster.schema.json
  schemas/rules.schema.json
  terraform/main.tf
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

feat(iac): migrate firewall workflow to OpenTofu
  .gitignore
  .gitlab-ci.yml
  README.md
  clusters/example/objects/dmz-zone.yaml
  clusters/example/objects/trust-zone.yaml
  docs/code-standards.md
  docs/codebase-summary.md
  docs/index.md
  docs/system-architecture.md
  docs/v2-state-migration.md
  modules/checkpoint/main.tf
  modules/fortinet/main.tf
  modules/fortinet/variable.tf
  modules/palo-alto/main.tf
  modules/palo-alto/variables.tf
  schemas/cluster.schema.json
  schemas/rules.schema.json
  scripts/check-plan-json.py
  scripts/deploy.sh
  scripts/import-v2-state.sh
  scripts/validate_yaml.py
  terraform/.terraform.lock.hcl
  terraform/main.tf
  tests/test_validate_yaml.py
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development

fix(iac): harden v2 state migration
  .gitlab-ci.yml
  modules/fortinet/main.tf
  schemas/rules.schema.json
  scripts/check-plan-json.py
  scripts/deploy.sh
  scripts/import-v2-state.sh
  scripts/migration_inventory.py
  scripts/open_rule/tests/test_loader.py
  scripts/validate_yaml.py
  tests/test_validate_yaml.py
Due: validate_yaml, terraform_fmt, terraform_validate, security_scan, plan_example, plan_production, plan_development
